.home {
  width: 100%;
  padding: 20px;
  background: #756F6F;
  height: 800px;
  @media (max-width: 520px) {
    padding: 20px;
  }
  .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    padding-bottom: 50px;
    h1 {
      color: white;
      margin-top: 35px;
      font-size: 34px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      @media (max-width: 520px) {
        font-size: 27px;
      }
      @media (max-width: 400px) {
        font-size: 22px;
      }
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      align-items: center;
      justify-content: center;
      color: white;
      margin-top: 15px;
      .word-li {
        justify-content: center;
        align-items: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        font-weight: 800;
        display: flex;
        width: 100%;
        max-width: 400px;
        @media (max-width: 520px) {
          font-size: 19px;
          font-weight: 700;
        }
        span {
          margin-left: auto;
          font-weight: 400;
        }
        .edit {
          cursor: pointer;
          margin-left: 20px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
      .word-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        form {
          display: flex;
          justify-content: space-between;
          width: 100%;
          input {
            padding: 6px 22px;
            border-radius: 22px;
            outline: none;
            border: none;
            background-color: gray;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            color: white;
            font-weight: 800;
            @media(max-width:425px) {
              width: 80%;
            }
          }
          button {
            border-radius: 50%;
            background-color: transparent;
            outline: none;
            border: none;
            img {
              width: 100%;
              max-width: 30px;
              height: 30px;
            }
          }
        }
        .edit {
          cursor: pointer;
          margin-left: 20px;
          border-radius: 50%;
          width: 30px;
          opacity: 0.6;
          height: 30px;
        }
      }
    }
    .home__days {
      margin-top: 32px;
      display: flex;
      column-gap: 30px;
      @media (max-width: 520px) {
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
      }
      button {
        padding: 8px 16px;
        border-radius: 22px;
        outline: none;
        font-size: 18px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        border: none;
        letter-spacing: 1.4px;
      }
      button:nth-child(2) {
        color: red;
      }
      .btn_color {
        background-color: gray;
      }
    }
  }
}
